<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/user/userCss/enquiry.css" />
  </head>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <body>
    <div class="main_page">
      <!-- navbar -->
      <nav><%- include('partials/navbar') %></nav>
      <section><%- include('partials/upSection') %></section>

      <!-- page content -->

      <div class="enquiry_main_page">
        <div class="form_container">
          <h3>Enquiry Form</h3>
          <form id="enquiryForm" action="/<%= locals.custmorInfo.serviceUrlLink %>/enquiry" method="post">
            <div class="form-group">
              <label for="name">Name:</label>
              <input
                type="text"
                id="name"
                name="name"
                placeholder="Your Name*"
                required
              />
            </div>

            <div class="form-group">
              <label for="phone">Contact Number:</label>
              <input
                type="tel"
                id="phone"
                name="phone"
                placeholder="Your Phone Number*"
                required
              />
            </div>

            <div class="form-group">
              <label for="email">Email:</label>
              <input
                type="email"
                id="email"
                name="email"
                placeholder="Your Email*"
                required
              />
            </div>

            <div class="form-group">
              <label for="pickup">Pick Up Point:</label>
             
                <input type="text" id="pickup" name="pick_up_point" placeholder="Your pickup point*">
              
             
            </div>

            <div class="form-group">
              <label for="drop">Drop Point:</label>
              <input
                type="text"
                id="drop"
                name="drop_point"
                placeholder="Your Destinations*"
                required
              />
            </div>

            <div class="form-group">
              <label for="car">Type of Car:</label>
              <select id="car" name="type_of_car">
                <% carInfo.forEach(car => { %>
                  <option><%= car.carName %></option>
                 
                <% }) %>
              </select>
            </div>

            <div class="form-group">
              <label for="persons">No Of Persons:</label>
              <input
                type="number"
                id="persons"
                name="persons"
                placeholder="Number of Persons*"
                required
              />
            </div>

            <button id="submit_btn" class="form_btn" type="submit">SEND</button>
          </form>
        </div>
        <div class="info_container">
          <div class="bankInfo_container">
            <h3>Our Bank Account Details</h3>
            <p>Account Number: 587802010022463</p>
            <p>Account Holder Name: Bhalerao Kanifnath Nanda</p>
            <p>IFSC Code: UBIN0558788</p>
            <img src="/user/userImages/enquiryImg/Ertiga.png" alt="Car Image" />
          </div>
        </div>
      </div>

      <!-- footer -->
      <footer><%- include('partials/footer') %></footer>
    </div>
    <script src="/user/userJs/enquiry.js"></script>
    <script src="/common/commonJs/alertMsg.js"></script>
  </body>
</html>
